@import "font.css";
@import url("https://fonts.googleapis.com/css?family=Faustina|Quicksand|Roboto+Slab&display=swap");
:root {
  --black-haze: #f5f7f6;
  --shadow-green: #9abfb9;
  --rum: #766e8c;
  --vin-rouge: #99465f;
  --dark-shade: #1f1620;
}
html {
  background-color: var(--dark-shade);
}
body {
  margin: auto;
  width: 80%;
  height: auto;
  justify-content: center;
  font-family: "Quicksand", sans-serif, Arial, Helvetica;
  color: var(--black-haze);
}
/*---- Page Layout ----*/
.gridcontainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
/*---- Header ----*/
header {
  background-color: var(--dark-shade);
  height: 20vh;

  grid-area: 1 / 1 / 2 / 8;
  display: flex;

  flex-direction: row;
}
.logo {
  width: 250px;
  height: auto;
  border-radius: 70%;
  border: 1px solid var(--black-haze);
}

header h1 {
  align-self: center;
  margin: 1vw;
  justify-self: center;
  font-family: "Faustina", sans-serif;
  font-size: 32px;
}
/*---- Nav ----*/
nav {
  overflow: hidden;
  margin-left: auto;
  height: auto;
  width: auto;
  align-self: flex-end;
}
containerflex img {
  display: flex;
  flex-direction: row;
  border: var(--vin-rouge) 1px solid;
}

/*---- Aside ----*/
aside {
  width: 20vw;
  border-radius: 10%;
  list-style: none;
  border: 3px solid var(--vin-rouge);
  grid-area: 2 / 1 /4 / 2;
}
.socialnet {
  list-style: none;
  display: flex;
}

/*---- Constenet -----*/
article {
  background-color: var(--dark-shade);
  margin-left: 1vw;
  padding-left: 2vw;
  border-radius: 10%;
  grid-area: 2 / 2 / 4 / 8;
  border: 3px solid var(--vin-rouge);
}

/*---- Footer -----*/
footer {
  border-radius: 10%;
  border: 3px solid var(--vin-rouge);
  grid-area: 4 / 1 / 5 / 8;
}
.button {
  background-color: var(--vin-rouge);
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 var(--black-haze), 0 12px 30px 0 var(--black-haze);
}

@media (max-width: 500px) {
  body {
    justify-content: center;
  }
  .gridcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .containerflex {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  header {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  nav {
    display: none;
  }
  .logo {
    width: 200px;
    height: auto;
    align-self: center;
  }
}
